name: Run Java Program
on:
push:
branches: [ main ]
pull_request:
jobs:
run-java:
runs-on: ubuntu-latest
steps:
- uses: actions/checkout@v4
- uses: actions/setup-java@v4
with:
distribution: temurin
java-version: '17'
- run: javac Hello.java
- run: java Hello
